@font-face {
    font-family: 'RB';
    src: url(../fonts/Raleway-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'RBo';
    src: url(../fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'RR';
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'RT';
    src: url(../fonts/Raleway-Thin.ttf) format('truetype');
}


@font-face {
    font-family: 'RRR';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'RBd';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
}