.inform {
    padding: 30px 0;
}

.inf__h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--rbo);
font-size: 55px;
font-weight: 700;
line-height: 65px;
text-transform: uppercase;
color: rgba(105, 207, 23, 0.7);


}
.inf__card {
    position: relative;
    text-align: center;
}

.img__inf {
    width: 100%;
}

.inf__p {
    font-family: var(--rbo);
font-size: 18px;
font-weight: 700;
line-height: 25px;
color: #FFFFFF;
max-width: 1120;
margin-top: 30px;
}